*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 80%;
    margin: 0 auto;
    /* border: 2px solid blue; */
}

.container2{
    height: 700px;
}

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
    aspect-ratio: 3/2;
    object-fit:contain;
}

.prev, .next{
    font-size: 40px;
    cursor: pointer;
}

.item.active{
    display: block;
}

.item{
    display: none;
}